@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-80%); } /* Slides 5 images */
}

.animate-slide {
  animation: slide 30s linear infinite;
}

/* Smooth Scrolling Between Sections */
html {
  scroll-behavior: smooth;
}

@layer utilities {
  @keyframes fade-in-out {
    0%, 100% { opacity: 0; transform: translateY(10px); }
    10%, 90% { opacity: 1; transform: translateY(0); }
  }
  .animate-fade-in-out {
    animation: fade-in-out 3s ease-in-out forwards;
  }
}
